extends jumbotron
block heading-content
    script(type="text/javascript")
        window.initial = !{JSON.stringify(initial)};
    h1 Task List
    ul(class="list-unstyled")
        li(ng-repeat="task in tasks")
            span(ng-hide="editing", ng-bind="task.name")
            input(type="text", ng-model="task.name", ng-show="editing")
            &nbsp;
            a(href="#", ng-click="editing = true", ng-hide="editing") edit
            a(href="#", ng-click="updateTask(task); editing = false", ng-show="editing") update
            &nbsp;
            a(href="#", ng-click="removeTask($index)", ng-show="editing") delete
            &nbsp;
            a(href="#", ng-click="editing = false", ng-show="editing") cancel

    h4 (Total = {{total()}})
block main-content
    hr
    form(role="form", class="form-inline")
        div(class="form-group")
            label(for="name") Task Name
            <br />
            input(id="name", type="text", style="width: 300px", class="form-control", placeholder="Enter a name for this task", ng-model="taskText")
            &nbsp;
            button(class="btn", ng-click="addTask()") Submit
block scripts
    script(src="/javascripts/tasks.js", type="text/javascript")
